div.jqcloud {
  font-family: "Lato", sans-serif;
  font-size: 10px;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 4.00em; }
div.jqcloud span.w9 { font-size: 3.60em; }
div.jqcloud span.w8 { font-size: 3.20em; }
div.jqcloud span.w7 { font-size: 2.80em; }
div.jqcloud span.w6 { font-size: 2.40em; }
div.jqcloud span.w5 { font-size: 2.00em; }
div.jqcloud span.w4 { font-size: 1.75em; }
div.jqcloud span.w3 { font-size: 1.50em; }
div.jqcloud span.w2 { font-size: 1.25em; }
div.jqcloud span.w1 { font-size: 1.00em; }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #873600; }
div.jqcloud a:hover { color: #873600; }
div.jqcloud span.w1 { color: #f39c12; }
div.jqcloud span.w2 { color: #f39c12; }
div.jqcloud span.w3 { color: #e67e22; }
div.jqcloud span.w4 { color: #e67e22; }
div.jqcloud span.w5 { color: #e74c3c; }
div.jqcloud span.w6 { color: #e74c3c; }
div.jqcloud span.w7 { color: #c0392b; }
div.jqcloud span.w8 { color: #c0392b; }
div.jqcloud span.w9 { color: #d35400; }
div.jqcloud span.w10 { color: #d35400; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }